* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.titulos {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

header, section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
    background: orange;
}

p {
    margin: 20px;
}

li {
    padding: 5px 15px;
}

.tituloslistas{
    font-size: 16px;
}

.menu {
    padding: 5px 15px;
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 17px verdana;
    display: inline-block;
    border: 1px solid black;
}

img {
    width: 500px;
}

.div {
    width: 960px;
    border: solid black 1px;
    margin: auto;
    background: rgba(20, 13, 0, 0.13);
}

head {
    background-color: rgb(214, 104, 0);
}

section {
    border: 1px solid black;
    margin-bottom: 15px
}

.texto {
    margin-bottom: 15px;
    text-align: justify;
}

.copy {
    text-align: right;
}

.textojugadores {
    margin-bottom: 15px;
    text-align: justify;
}